<li id="<%= dom_id(user) %>">
    <%= user.first_name %>
    <%= user.last_name %>
    <%= user.email %>
    <%= link_to 'Edit', edit_user_path(user), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %>
    <%= link_to 'Delete', user_path(user), remote: true, method: :delete, data: {confirm: "Are you sure"}%>
</li>