<%= link_to "Add User", new_user_path %>
<%= form_tag users_path, method: :get  do %>
	<%= text_field_tag 'query', nil,  placeholder:'search here' %>
	<%= submit_tag %>
<% end %>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.first_name %>
      <%= user.last_name %>
      <%= user.email %>
    </li>
  <% end %>
</ul>
